* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9fafb;
}

.App {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  margin-top: 70px;
  transition: margin-top 0.3s ease;
}

/* Стык в стык на планшетах: 70px хедер + 50px навбар */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-wrapper {
    margin-top: 120px;
  }
}

.main-layout {
  flex: 1;
  background-color: #ffffff;
}

@media (min-width: 1025px) {
  .main-layout {
    margin-left: 280px;
  }
}

.main-content {
  padding: 20px;
}
