* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9fafb;
}

.App {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  margin-top: 70px; /* Чтобы контент не залез под хедер */
}

.main-layout {
  flex: 1;
  background-color: #ffffff;
}

@media (min-width: 1025px) {
  .main-layout {
    margin-left: 280px; /* Место под сайдбар */
  }
}

.main-content {
  margin-left: 280px; /* Ширина сайдбара */
  padding: 20px;
  transition: margin 0.3s ease;
}

/* Когда сайдбар исчезает на мобилках, убираем отступ */
@media (max-width: 1024px) {
  .main-content {
    margin-left: 0;
  }
}
